@import url(https://fonts.googleapis.com/css?family=Poppins:400,700,600,500,300);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic);

body {
	font-family: "lora";
	font-color: white;
	text-align: center;
	margin: 0px;
}

header {
	background-image: url(../images/oldrag.jpg);
	background-size: 100%;
	height: 100vh;
	font-weight: normal;
	font-size: 20px;
	font-family: "poppins", semi-bold;
	text-align: center;
	width: 100%;
}

h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}


h2 {
	text-align: center;
	margin: 0;
}

ul {
	display: inline;
}

#intro {
	transform: translateY(350%);

}

#about {
	margin: 0 auto;
}

#about-left {
	float: left;
	width: 30%;
	height: 30%;
	padding: 20px;
}

#about-right {
	text-align: left;
	float: right;
	padding: 20px;
}

#wrapper {
	transform: translateY(50%);
	margin: auto;
}

#experience {
	margin: 0 auto;
}

#year1 {
	float: left;
}

#work1 {
	float: right;
}

#year2 {
	clear:right;
	float: right;
}

#work2 {
	clear: both;
	float:left;
}

#year3 {
	clear: both;
	float: left;
}

#work3 {
	clear: right;
	float: right;
}

.pf-tags {
	border: 2px solid black;
	text-align: center;
}

.email {
	text-decoration: none;
	color: grey;
}

.pith {
	font-style: italic;
	font-family: "lora";
}

.site-section {
	width: 100%;
	min-height: 100vh;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}





