@import url(https://fonts.googleapis.com/css?family=Poppins:400,700,600,500,300);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic);

body {
	font-family: "lora";
	font-color: white;
	text-align: center;
	margin: 0px;
}

header {
	background-image: url(../images/oldrag.jpg);
	background-size: 100%;
	height: 100vh;
	font-weight: normal;
	font-size: 20px;
	font-family: "poppins", semi-bold;
	text-align: center;
	width: 100%;
}

#intro {
	transform: translateY(350%);

}

#about {
	transform: translateY(20%);
	align: center;
}

.pith {
	font-style: italic;
	font-family: "lora";
}

.site-section {
	width: 100%;
	min-height: 100vh;
}

#about-words {
	text-align: left;
	margin: 25em;
}

h2 {
	text-align: center;
	margin: 0;
}

ul {
	display: inline;
}

#about-photo {
	float: left;
	width: 30%;
	height: 30%;
}

.pf-tags {
	border: 2px solid black;
	text-align: center;
}
.email {
	text-decoration: none;
	color: grey;
}
h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}





