@import url(https://fonts.googleapis.com/css?family=Poppins:400,700,600,500,300);
body {
	background-image: url(/unit_3/images/oldrag.jpg);
	background-size: cover;
	font-family: "Courier New";
	
	color: white;
	margin: 0px, auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#pith {
	font-style: italic;
}

h1 {
	font-weight: normal;
	font-size: 20px;
	font-family: "poppins", semi-bold;
}

a {
	text-decoration: none;
	color: grey;
}

a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	color: grey;
}


