@import url(https://fonts.googleapis.com/css?family=Poppins:400,700,600,500,300);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic);

body {
	background-image: url(/unit_4/images/oldrag.jpg);
	background-size: 100%;
	font-family: "lora";
}

header {
	font-weight: normal;
	font-size: 20px;
	font-family: "poppins", semi-bold;
	text-align: center;
	width: 100%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#pith {
	font-style: italic;
	font-family: "lora";
}

.site-section {
	width: 100%;
	min-height: 100vh;
}

.pf-tags {
	border: 2px solid black;
}
.email {
	text-decoration: none;
	color: grey;
}




