body {
	background-image: url(/unit_3/images/oldrag.jpg);
	background-size: cover;
	font-family: "Courier New";
	text-align: left;
	color: white;
}

#pith {
	font-style: italic;
}

h1 {
	font-weight: normal;
	font-size: 20px;
}

a {
	text-decoration: none;
	color: grey;
}

a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	color: grey;
}


